*
!.gitignore
!.gitconf
!.bashrc
!.my_init.d/
!.my_init.d/0*
!.my_init.d/1*
!.my_init.d/2*
!.my_init.d/3*
!.my_init.d/4*
!.my_init.d/5*
!.my_init.d/6*
!.my_init.d/7*
!.my_init.d/8*
!.ctags
!.ycm_extra_conf.py
!.npmrc
!.tern_project
!.tmux.conf
!.tmuxinator/
!.tmuxinator/*
!opt/vundle_vim/pip_ycm_requirement.txt
!opt/vundle_vim/pip3_ycm_requirement.txt
!opt/vundle_vim/
!opt/vundle_vim/colors/
!opt/vundle_vim/colors/*
!opt/vundle_vim/scripts/
!opt/vundle_vim/scripts/*
!opt/vundle_vim/*
!opt/pluto_vim/
!opt/pluto_vim/colors/
!opt/pluto_vim/colors/*
!opt/pluto_vim/scripts/
!opt/pluto_vim/scripts/*
!opt/pluto_vim/vimrc
!opt/pluto_vim/vundle.vim.tar.bz2
!.sbt/
!.sbt/*/
!.sbt/0.13/
!.sbt/0.13/*/
!.sbt/0.13/plugins/
!.sbt/0.13/plugins/*
!.sbt/repositories
!.sbt/1.0/
!.sbt/1.0/*/
!.sbt/1.0/plugins/
!.sbt/1.0/plugins/*
!global.sbt
!.m2/
!.m2/settings.xml
!.stack/
!.stack/*
!.emacs.d
!.gitmodules
!.pwn.conf
